<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
</div>

<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->



</body>
<% include partials/script %>
</html>